* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #101b25;
    transition: 3s;
}

body#corpo {
    background-image: url("./imgs/crosses-2713356_1920.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

#area {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: 100px;
    padding: 5px;
    font-weight: bolder;
}

#relogio {
    font-size: 300px;
    font-weight: bolder;
    border: solid 10px;
    border-radius: 10px;
    opacity: 0.9;
}

#datas {
    font-size: 80px;
    font-weight: bolder;
    opacity: 0.9;
}
#importante{
    display:none;
}